*:not(input) {
    color: inherit !important;
    animation: inherit !important;
}

*:not(a):not(input), input[type="text"] {
    background: "" !important;
    color: white !important;
    background-color: rgb(50, 50, 50) !important;
}

/* Hack To Force Links to be yellow */
@keyframes forceYellow {
    from { color: orange; }
    to { color: orange; }
}

a {
    animation: 1s linear infinite forceYellow !important;
}