*:not(body):not(header):not(nav):not(input):not(button):not(a):not(svg):not(img) {
    color: inherit !important;
    background-color: inherit !important;
}

a {
    color: orange !important;
    text-decoration-line: none;
}

header, nav, body, input:not([type="submit"]) { color: #FFFFFFFF !important; }

input:not([type="submit"]) { background-color: inherit !important; }

header, nav { background-color: #212121 !important; }

body { background-color: #323232 !important; }