.RNNXgb { border: none !important; }

input[type="text"] {
    border-radius: 25px !important;
    border: 1px solid white !important;
    text-indent: 10px !important;
}

a.gb_z.gb_pc { background-color: white !important; }