* {
    font-style: normal !important;
    text-decoration: none !important;
}

*:not(body):not(header):not(button):not(input):not(svg):not(img):not(a) {
    color: inherit !important;
    background-color: inherit !important;
    background: inherit !important;
}

a {
    color: var(--link-color) !important;
}

header, nav, footer, body, input:not([type="submit"]) { 
    color: var(--text-color) !important; 
}

input:not([type="submit"]) {
    border: 1.25px solid #FFFFFFFF !important;
    border-radius: 10px !important;
    background-color: inherit !important;
}

header, nav, footer {
    background-color: var(--bg-color-navigation) !important;
    font-weight: bolder !important;
}

body { 
    background-color: var(--bg-color-content) !important; 
    font-weight: normal !important;
}

*:not(html):not(body) {
    font-size: inherit !important; 
    font-weight: inherit !important; 
}

*::placeholder { 
    color: white !important; 
    text-decoration-line: underline !important; 
}
