:root {
    --bg-color-header: rgb(57,56,62);
    --bg-color-content: rgb(42,41,46);
    --text-color: rgb(255, 255, 255);
    --link-color: rgb(255, 165, 0);
}

* {
    font-style: normal !important;
    text-decoration: none !important;
}

*:not(body):not(header):not(nav):not(footer):not(input):not(button):not(a):not(svg):not(img) {
    color: inherit !important;
    background-color: inherit !important;
}

a {
    color: var(--link-color) !important;
}

header, nav, footer, body, input:not([type="submit"]) { 
    color: var(--text-color) !important; 
}

input:not([type="submit"]) {
    border: 1.25px solid #FFFFFFFF !important;
    border-radius: 10px !important;
    background-color: inherit !important;
}

header, nav, footer {
    background-color: var(--bg-color-header) !important;
    font-weight: bolder !important;
}

body { 
    background-color: var(--bg-color-content) !important; 
    font-weight: normal !important;
}

*:not(html):not(body) {
    font-size: inherit !important; 
    font-weight: inherit !important; 
}

::placeholder { 
    color: green !important; 
    text-decoration-line: underline !important; 
}