* {
    font-style: normal !important;
    text-decoration: none !important;
}

*:not(body):not(header):not(nav):not(input):not(button):not(a):not(svg):not(img) {
    color: inherit !important;
    background-color: inherit !important;
}

a { color: orange !important; }

header, nav, body, input:not([type="submit"]) { 
    color: #FFFFFFFF !important; 
}

input:not([type="submit"]) {
    border: 1.25px solid #FFFFFFFF !important;
    border-radius: 10px !important;
    background-color: inherit !important;
}

header, nav {
    background-color: #212121 !important;
    font-weight: bolder !important;
}

body { 
    background-color: #323232 !important; 
    font-weight: normal !important;
}

*:not(html):not(body) {
    font-size: inherit !important; 
    font-weight: inherit !important; 
}

::placeholder { 
    color: green !important; 
    text-decoration-line: underline !important; 
}