div.oZ-jc.T-Jo.J-J5-Ji {
    border: 2px solid white !important;
}

span.aXw.T-KT {
    background-color: white !important;
}

div.nH.oy8Mbf.nn.aeN, div.nH.bAw.nn, div.aeH {
    background-color: var(--bg-color-navigation) !important;
}