.RNNXgb {
    border: none !important;
}

input[type="text"] {
    border-radius: 25px !important;
    border: 1px solid white !important;
    text-indent: 10px !important;
}

a.gb_z.gb_pc { 
    background-color: orange !important;
}

div#top_nav,
div#footcnt,
a.gb_F.gb_9f, 
div.gb_Pf#gb,
div.a-D-B-Lc-j,
div.a-Kk7lMc-lihzJ-j,
div.EvHmz.hRvfYe#fbar, 
div.jsrp.mdm#searchform,
div.gb_C.gb_B.gb_X.gb_Ac.gb_D,
div.kp-blk.knowledge-panel.Wnoohf.OJXvsb,
div.a-s-tb-sc-Ja-Q.a-s-tb-sc-Ja-Q-Nm.a-s-tb-Kg-Q,
div.a-s-tb-sc-Ja-Q.a-s-tb-sc-Ja-Q-Nm.a-s-tb-Kg-Q.a-s-tb-kl-Gd-ig {
    background-color: var(--bg-color-header) !important;
}

div.gb_Pf#gb {
    top: 0px !important;
}

span.z1asCe.MZy1Rb > svg {
    fill: #4285f4 !important;
}

div.zloOqf.PZPZlf.kno-fb-ctx > span.w8qArf > a.fl {
    color: orange !important;
}

div.uw8t2 { 
    background-color: transparent !important;
}

div.gb_y.gb_dd.gb_g, a.gb_z.gb_rc {
    background-color: #FFFFFF !important;
}

div.RNNXgb > div.cafKYd {
    margin-left: 10px !important;
}