div.g.rhsvw.mnr-c.g-blk,
body#gsr > div#searchform > *,
div#top_nav,
div.gb_H.gb_F.gb_W.gb_Dc.gb_I,
a.gb_K.gb_bg,
div.fbar {
    background: var(--bg-color-navigation) !important;
    background-color: var(--bg-color-navigation) !important;
}

a.gb_D.gb_rc {
    background: #ffffff !important;
    background-color: #ffffff !important;
}

div.kp-blk.nGydZ.Wnoohf.OJXvsb {
    border: none !important;
}

.RNNXgb {
    border: none !important;
}

input[type="text"] {
    border-radius: 25px !important;
    border: 1px solid white !important;
    text-indent: 10px !important;
}

a.gb_z.gb_pc { 
    background-color: orange !important;
}

span.w8qArf > a.fl
{
    color: white !important;
}

div.gb_Pf#gb {
    top: 0px !important;
}

span.z1asCe.MZy1Rb > svg {
    fill: #4285f4 !important;
}

div.zloOqf.PZPZlf.kno-fb-ctx > span.w8qArf > a.fl {
    color: orange !important;
}

div.uw8t2 { 
    background-color: transparent !important;
}

div.gb_y.gb_dd.gb_g, a.gb_z.gb_rc {
    background-color: #FFFFFF !important;
}

div.RNNXgb > div.cafKYd {
    margin-left: 10px !important;
}